.header, .content, .footer {
    padding: 0px; /* Поля */
}
html{
    height:100%;
}
body{
    height: 100%;
    margin: 0;
    background: url('media/11.jpg');
    min-width:1315px;

}

.header { /* Верхняя часть с заголовком */
    height: 120px;
    background-color: rgba(255, 204, 204, 0.45); /* Цвет фона и значение прозрачности */
    filter: alpha(Opacity=90); /* Прозрачность в IE */
    border:hidden 2px #000000;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
}

.h1 {
    color: #A00C0C;
    font-family: 'Miss Fajardose', cursive;
    font-size: 100px; /* Размер шрифта */
    margin:0;
}

.content {
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 500px;
    
     /*background: url(media/pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
}
.content p{
    margin:0;
    padding: 0;
}
#background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;


}
.content-left {
    float: left; /* Отступ слева */
    width: 55%;
    padding: 5px; /* Поля вокруг текста */
    margin: 15px 0 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px; /* Размер шрифта */
    color: #000000;
    background-color: rgba(255, 204, 204, 0.4); /* Цвет фона и значение прозрачности */

    filter: alpha(Opacity=90); /* Прозрачность в IE */
    border:hidden 2px #000000;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
}

.content-right {
    padding: 5px; /* Поля вокруг текста */
    margin: 15px 30px 0 0;
    float: right;
}
.h2{
    color: #000000;
    font-family: monospace;
    font-size: 80px; /* Размер шрифта */
    text-shadow:10px 10px 15px #000000;
}
.h3{
    color: #000000;
   font-family: monospace;
    font-size: 50px; /* Размер шрифта */
    text-shadow:10px 10px 15px #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}
.p{
   /* text-shadow:10px 10px 15px #000000;*/
    margin: 0 0 0 0;
    padding: 0 0 0 15px;
    text-align: justify;
}
.pic{
    position: relative;
    width:510px;
}
.img-center{
    position: absolute;
    margin:-75px 0 0 -125px;
    top:50%;
    left:50%;
    padding:0;

}
.img1, .img.odd{
    border:hidden 2px #000000;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
}
.img1{
    padding-left: 5px;
    padding-bottom: 5px;

}
.img1.odd{
    padding-left: 0;
}
.footer{
    height: 170px;
    margin:0 0 0 0;
    width: 100%;
    background-color: rgba(255, 204, 204, 0.4); /* Цвет фона и значение прозрачности */
    filter: alpha(Opacity=90); /* Прозрачность в IE */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px; /* Размер шрифта */
    color: #000000;
    border:hidden 2px #000000;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
}
