body{
	margin: 0;	
	background: url("images/bg2.jpg") repeat;
}
header p{
	position: relative ;
	margin-top: 10px;
	margin-left: 10px;
	float:left;	
	font: 24px PTSansBold;
}
header a{
	margin-right: 10px;
	margin-top: 10px;
	font: 14px PTSansRegular;
}
.overlay {
	float: right;
	color: #666666;
	border-bottom: 1px dashed; 
	text-decoration: none;
}
.headerNews {
	width: 100%;
	display: inline-block;
}
.headerNews h1{
	padding-bottom: 0;
	text-align: center;
	font: 72px PTSerifBold;	
	margin: 50px 0 0 0;
}
.top_nav{
	font: 14px PTSansRegular;
	margin-left:670px;
	margin-top: 10px;
	position:absolute;
}
.top_nav a:active{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.act:visited{
	color:black;
	font-weight: bold;
	text-decoration:none;
}
.user_dropdown:hover{
	width: 115px;
	height: 115px;
	float:right;
	margin-left: 92%;
	margin-top: 10px;
	position: absolute ;
	display: block;
	z-index: 0;
	box-shadow: 1px 1px 1px #989898;
	-webkit-border-radius: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 38%, #dddddd 84%, #d9d9d9 99%, #bebebe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(38%,#f2f2f2), color-stop(84%,#dddddd), color-stop(99%,#d9d9d9), color-stop(100%,#bebebe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bebebe',GradientType=0 ); /* IE6-9 */
}
.user_dropdown{
	float:right;
	width: 115px;
	height: 20px;
	margin-left: 92%;
	margin-top: 10px;
	position: absolute ;
	box-shadow: 1px 1px 1px #989898;
	-webkit-border-radius: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 38%, #dddddd 84%, #d9d9d9 99%, #bebebe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(38%,#f2f2f2), color-stop(84%,#dddddd), color-stop(99%,#d9d9d9), color-stop(100%,#bebebe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 38%,#dddddd 84%,#d9d9d9 99%,#bebebe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bebebe',GradientType=0 ); /* IE6-9 */
}
.user_dropdown div ul li a{
	font: 14px PTSansRegular;
	text-shadow: 1px 1px 1px #fff;
	color: #666666;
	text-decoration: underline;
}
.user_dropdown .nav {
	display: none;
}
.user_dropdown:hover div {
	display: block;
}
.user_dropdown div ul{
	list-style: none;
	margin: 15px 0 0 0;
	float:left;
}
.user_dropdown div ul li{
	margin:7px 0 0 -18px;
}
.dropdown_text{
	position: absolute ;
	margin:0 0 0 24px;
	font: 14px PTSansRegular;
	text-shadow: 1px 1px 1px #fff;
	color: #666666;
}
.arrow{
	display: block;
  	width:0px;
	height:0px;
	border-left:5px solid transparent;  /* левый наклон стрелки */
	border-right:5px solid transparent; /* правый наклон стрелки */
	border-top:5px solid #666; /* низ, указываем цвет стрелки */
	margin:5px 0 0 8px ; /* центрируем стрелку в родительском контейнере */
}
.three {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0 0 110px 0;
	/*display: inline-block;*/
}
.in {
	display: inline;
	/*text-align: center;*/
	font: 18px PTSansRegular;
	padding: 0;
	margin: 0;
}
.content {
	width: 800px;
	margin-left:30%;
}
aside{
	float:left;
	width: 170px;	
	margin-top:240px;
	margin-right: 20px;
}
aside p{
	font: 10px Verdana;
	color:#b7b7b7;
}
article{
	margin:-350px 0 100px 100px;
	width:600px;
	float:right;
	position: relative;
}
.new h2{
	font:24px PTSerifBold;
	margin-bottom:55px;
}
.new a{
	color:#003366;
}
section{
	width:800px;
	height: 255px;
	border-top: 2px solid #989898;
	margin: 210px 207px 0 0;
	clear:both;
	padding-top:30px ;
}
section p{
	width:120px;
	margin-right:55px;
	float:left;
	font: 14px PTSansBold;
}
.other_news{
	margin:0 0 0 0;
	display:block;
	
}
.one{
	display: inline-block;
	width: 188px;
	height: 200px;
	margin: 0;
	padding: 0 5px 0 0;
}
.one img{
	margin:0 0 5px 0;
}
.one h3{
	font: 14px PTSansRegular;
	margin: 140px 0 0 0;
	padding: 0;
}
.one p{
	font: 12px PTSansRegular;
	margin: 0;
	padding: 0;
}
.bl1 {
	height: 125px;
	margin-bottom:55px ;
}
.im{
	float: left;
	position: absolute;
}
.img {
	float: left;
	position: relative;
}
.pic1 {
	position: relative;
	padding-right: 20px;
	padding-top: 5px;
}
.lit1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -132px;
	z-index: 0;
}
.bl1 .img p {
	width: 65px;
	height: 22px;
	position: absolute;
	text-align: center;
	top:50%;
	left:50%;
	margin: -60px 0 0 -132px;
	color: white;
	font: 14px PTSansItalic;
	z-index: 1;
}
.text {
	float: right;
	width: 600px;
	padding: 0;
	word-wrap: break-word;
}
.text h2{
	padding: 0;
	margin: 0;
}
.text a {
	font:18px PTSansRegular;
	text-align: center;
	color: black;
}
.text p {
	font:14px PTSansRegular;
}
.bl2 {
height: 125px;	
margin-bottom:55px ;
}
.lit2 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -132px;
	z-index: 0;
}
.bl2 .img p {
	width: 73px;
	height: 24px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -132px;
	z-index: 1;
	color: white;
	font: 14px PTSansItalic;
}
.bl3 {
	height: 125px;
}
.lit3 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -132px;
	z-index: 0;
}
.bl3 .img p {
	width: 110px;
	height: 24px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -132px;
	z-index: 1;
	color: white;
	font: 14px PTSansItalic;
}
.foo {
	margin-top: 240px;
	margin-left:30%;
	position: relative;
	bottom: 0;
	width: 800px;
}
.foo p {
	font: 12px PTSansRegular;
	border-top: solid 1px #989898;
	
}
.login{
	display: none;
	background-color: white;
	position: absolute;
	top:40%;
	left:40%;
	z-index: 3;
	width:366px;
	height: 228px;
}
.blur {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:black;
	opacity: 0.3;
	z-index:2;
	display: none;
}
.blur_cont {
	-webkit-filter: grayscale(0.1) blur(2px);
	    
}
.fields {
	margin: 56px 0 23px 65px;
	font: 14px PTSansRegular;
	color: #666666;
	padding-left:15px;
}
.buttons {
	margin-left:80px;
}
.inp1 .inp2 {
	width:240px;
	height:25px;
}
.inp1 {
	margin-bottom:20px;
}
.btn {
	width:67px;
	height:26px;
}
.buttons a {
	font: 14px PTSansRegular;
	color: #666666;
	border-bottom: 1px dashed; 
	text-decoration: none;
}
